.dshadow{
  -webkit-box-shadow: 0px 6px 11px 4px rgba(0,0,0,0.23), 0px 2px 5px 2px rgba(0,0,0,0.53); 
  box-shadow: 0px 6px 11px 4px rgba(0,0,0,0.23), 0px 2px 5px 2px rgba(0,0,0,0.53);
}

.dialog-overlay{
  z-index: 10000;
  background-color: rgba(52,58,64, 0.9)!important;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw + 25px);
  height: 100vh;
  display: none;
}

.dialog-card{
  min-height: 40%;
}

.content-card{
  max-width: 95%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.w-20{
  width: 20%!important;
}
.w-30{
  width: 30%!important;
}
.w-40{
  width: 40%!important;
}
.w-60{
  width: 60%!important;
}
.w-70{
  width: 70%!important;
}
.w-80{
  width: 80%!important;
}
.w-90{
  width: 90%!important;
}

.h-20{
  height: 20%!important;
}
.h-30{
  height: 30%!important;
}
.h-40{
  height: 40%!important;
}
.h-60{
  height: 60%!important;
}
.h-70{
  height: 70%!important;
}
.h-80{
  height: 80%!important;
}
.h-90{
  height: 90%!important;
}

.responsive-footer{
  margin-left: -15px;
  margin-right: -15px;
  height: auto;
}

.scrollable{
  overflow-y: scroll;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.nav-divider {
  border-color: rgba(255, 255, 255, 0.5)
}

.full-height{
  height: calc(100vh - 3.5rem);
}

::-webkit-scrollbar{
  width: 0px!important;
  background: transparent;
}

body {
  background: #333334;
  padding-bottom: 20px;
  -ms-overflow-style: none;
}

html{
  overflow-y: hidden
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

.my-panel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-right: 20px;
  margin: auto;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  background: #111;
  color: white;
  border-radius: 8px;
}

.my-panel h1 {
  color: #99f !important;
}

#my-sidebar {
  background: #222222;
  color: #bbb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

#my-sidebar b {
  color: #fff;
}

table {
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

tr:nth-child(even) {
  background-color: #222222;
  transition: background 0.5s;
}

tr:nth-child(odd) {
  background-color: #333333;
  transition: background 0.5s;
}

tr img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  padding: 10px;
}

.ui-dialog {
  width: 500px !important;
  background: #000;
  color: #fff;
  border-radius: 8px;
  z-index: 1000;
  /* box-shadow: 0 4px 100px 3000px rgba(0, 0, 0, 0.5), 0 6px 100px 3000px rgba(0, 0, 0, 0.5); */
}
.ui-dialog button[title="Close"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1000;
  padding: 100vh 100vw;
  background: rgba(49, 49, 49, 0.5);
}
.ui-dialog-title {
  background: #f33;
  padding-right: 381px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 8px;
}
#dialog-confirm > div {
  padding-top: 15px;
}
.ui-dialog-buttonset * {
  margin: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: unset;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  color: #fff;
  text-align: center;
  padding: 7px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1100;
  opacity: 0;
  transition: opacity 0.7s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltiptext img {
  opacity: 0.7;
  transition: opacity 0.7s;
  margin-bottom: 5px;
}
.tooltiptext img:hover {
  opacity: 1;
  transition: opacity 0.7s;
}

footer {
  min-height: 3.5rem;
}

.main-block {
  margin-bottom: 60px;
}
.w3-main.loginbox.boxshad > form {
  align-self: center;
}

.w3-main.loginbox.boxshad {
  margin-left: 50px;
  margin-top: 100px;
}

.form-group {
  color: white;
}
.preview-img-div {
  max-width: 400px;
  float: right;
  margin-right: 0px;
  padding: 10px 0;
}

.log-div {
  padding: 10px;
  background: #222;
}

.log-div > span {
  max-height: 600px;
  word-wrap: break-word;
  width: 90%;
}

.w3-container.w3-theme-l2.w3-padding-16 > span {
  float: left;
}

.w3-bar-item.w3-theme-l4 {
  padding-right: 133px;
}

.w3-bar-item.w3-button.w3-hide-small.w3-hover-white {
  float: right;
}

.w3-main {
  margin-left: 250px;
  padding-top: 50px;
}

.w3-container.w3-theme-l2.w3-padding-16 {
  display: block;
}
