input {height:30px;}

.w3-container > form {
    margin-bottom: 15px;
    line-height: 2;
}

.w3-container > form > table {
    width: 100%;
}
#face-recognition-settings {
    margin-bottom: 15px;
    line-height: 2;
}

.notification-table {
    width: 100%;
    table-layout: fixed;
}
