
.loginbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 400px;
    background: #000;
    padding: 15px;
    margin: 150px auto !important;
}
body {
background: #333334;
}
.myloginbutton {
background-color: #339;
/* Green */
border: none;
color: white;
padding: 15px 64px;
margin: 0 auto;
text-align: center;
text-decoration: none;
display: inline-block;
width: 100%;
font-size: 22px;
}
.form-control * {
width: 100%;
}


::-webkit-scrollbar {
    width: 10px !important;
    height: 6px !important;
}

body::-webkit-scrollbar {
    width: 8px !important;
    height: 6px !important;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 8px !important;
}

::-webkit-scrollbar-track:hover {
    background: grey !important;
    border-radius: 8px !important;
}


::-webkit-scrollbar-thumb {
    background-color: #000 !important;
    min-height: 50px;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:active {
    background-color: red !important;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}



.my-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 20px;
    margin: auto;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 800px;
    background: #111;
    color: white;
    border-radius: 8px;
}

.my-panel h1 {
    color: #99f !important;
}

#my-sidebar {
    background: #222222;
    color: #bbb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}



#my-sidebar b {
    color: #fff;
}




table {
    border-radius: 10px;
    -webkit-border-radius: 10px;
}


tr:nth-child(even) {
    background-color: #222222;
    transition: background 0.5s;
}

tr:nth-child(odd) {
    background-color: #333333;
    transition: background 0.5s;
}

tr img {display: block;
    margin-left: auto;
    margin-right: auto;}

td,
th {
    padding: 10px;
}

.my-button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
}

.my-remove-button {
    background: #f33;
    margin: auto;
    color: white;
    width: 150px;
    height: 40px;
}

.my-edit-button {
    background: #339;
    margin: auto;
    color: white;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
}

.my-add-button {
    background: #393;
    margin: auto;
    color: white;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
}

.my-save-button {
    background: orange; color: white; border:none; width: 150px; height: 50px;font-size: 24px; margin-bottom: 15px;
}


.ui-dialog {width: 500px !important; background: #000; color: #fff; border-radius: 8px; z-index: 1000;
    /* box-shadow: 0 4px 100px 3000px rgba(0, 0, 0, 0.5), 0 6px 100px 3000px rgba(0, 0, 0, 0.5); */
}
.ui-dialog button[title="Close"] {position: fixed; bottom: 0; left: 0;z-index:-1000; padding: 100vh 100vw; background:rgba(49, 49, 49, 0.5)}
.ui-dialog-title {background: #f33; padding-right: 381px; padding-top: 10px; padding-bottom: 10px;padding-left: 15px; border-radius: 8px;}
#dialog-confirm > div {padding-top: 15px;} 
.ui-dialog-buttonset *{margin: 10px; }


































/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }











/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 0.7s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: opacity 0.5s;
}


.tooltiptext img {
    opacity: 0.7;
    transition: opacity 0.7s;
    margin-bottom: 5px;
}
.tooltiptext img:hover {
    opacity: 1;
    transition: opacity 0.7s;
}


