#known_persons {
  width: 100%;
  padding-bottom: 25px;
  table-layout: fixed;
}

.known-td {
  width: 25%;
}

.known-td > img {
  width: 100%;
}

.known-td > span {
  width: 100%;
}

.tooltip-inner-span {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.font-size-20 {
  font-size: 20px;
}

.word-wrap {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.remove-arg {
  display: none;
}

.person-table-header {
  width: 25%;
}

.text-center {
  text-align: center;
}

#remove-confirmation {
  display: none;
}

#add-or-merge-dialog {
  display: none;
}

#selected-add-or-merge-name {
  display: none;
}

#selected-add-or-merge-folder {
  display: none;
}

#current-owner {
  display: none;
}

#moving-pic-name {
  display: none;
}

#merge-options {
  width: 100px;
  height: 25px;
}

#merge-btn {
  color: #fff;
  background: orange;
}

#add-btn {
  color: #fff;
  background: #393;
}

#cancel-add-small {
  color: #fff;
  background: #f33;
}

#cancel-add-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #333;
  opacity: 0.5;
  z-index: -101 !important;
}

.ui-icon.ui-icon-alert {
  float: left;
  margin: 12px 12px 20px 0;
}
#add-or-merge-dialog,
#add-or-merge-inside {
  position: fixed;
  text-align: center;
  z-index: 100;
  left: 50%;
  top: 40%;
  background: #000;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
}
.person-name > td {
    text-align: center;
}

td {
    max-width: 25%;
}

.tooltiptext > img {
    width: 100px;
    display: inline-block;
    border-radius: 10%
}

.tooltip > img {
    width: 100px;
    border-radius: 10%;
}

#unknown_persons {
    width: 100%;
    padding-bottom: 25px
}

.add-arg {
    display: none;
}

.remove-arg {
    display: none;
}