
#basic-info-form > div {
    margin-bottom: 15px;
    line-height: 3;
}

#person-name {
    display: none
}

#thumbnail-pic {
    max-width: 100%;
    max-height: 300px;
    padding-bottom: 25px;
}

#owner-name {
    font-size: 20px;
    height: 35px;
    padding: 5px;
}

.my-button.my-save-button {
    padding-bottom: 70px;
    float: right;
    margin-right: 50px;
}

.w3-container > div {
    color: #f33
}

.w3-container > div {
    margin-bottom: 15px;
    line-height: 3;
}

.outer-face > img {
    width: 165px;
}

.pic-btn.make-thumb {
    background: #393;
    white-space: normal;
}

.pic-btn.change-pers {
    background: #339;
    white-space: normal;
}

.pic-btn.remove-pic {
    background: #f33;
    white-space: normal;
}

#confirmation > div {
    padding-bottom: 20px
}

#confirmation {
    display: none;
}

#removing-pic-name {
    font-size: 14px;
    margin-bottom: 10px;
}

#remove-pic-btn {
    color: #fff;
    background: #f33
}

#current-owner {
    display: none
}

#moving-pic-name {
    display: none
}

#possible-persons {
    width: 100px;
    height: 25px;
}

#change-person-btn {
    color: #fff;
    background: #393
}

#cancel-person-change-small {
    color: #fff;
    background: #f33
}

#dialog-title {
    background: #f33;
    font: 20px;
    padding: 5px;
    border-radius: 8px;
    width: 496px;
    position: relative;
    top: -30px;
    left: -30px;
}

#choose-new-owner,
#confirmation {

    border: 2px solid #fff;
    display: none;
    z-index: 1000;
    position: fixed;
    top: 300px;
    left: 40%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: #fff;
    background: #333333;
    border-radius: 10px;
    font-size: 20px;
}

#choose-new-owner * {
    z-index: 1001;
}

#cancel-person-change-bg,
#cancel-bg {
    z-index: -1;
    position: fixed;
    background: #000;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    border: 0;
    top: 0;
    left: 0;
}

.outer-face {
    position: relative;
    min-height: 100px;
    width: 20%;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.inner-face {
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 25%;
    min-height: 100px;
    width: 25%;
    z-index: 10;
    text-align: center;
}

.outer-face .pic-btn {
    display: none;
    opacity: 0;
    transition: .5s ease;
    line-height: 1;
    color: #fff;
    border: 0;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
}

.outer-face:hover img {
    opacity: 0.5;
    transition: .5s ease;
}

.outer-face:hover .pic-btn {
    display: inline-block;
    opacity: 0.7;
    transition: .5s ease;
    cursor: pointer;
}

.pic-btn:hover {
    opacity: 1;

    transition: .5s ease;
}