<div class="card content-card">
	<div class="card-body">
		<h1 class="card-title">Password change</h1>
		<form action="/change_password" method="post" style="margin-bottom: 15px; line-height: 2;">
			
			New password: <br>
			<input type="password" id="passwd1" name="new_password"> <br>New password again:<br>
			<input type="password" id="passwd2"> <br><br>
			
		<script type="text/javascript">
			
			function changePassword() {
				var one = document.getElementById("passwd1").value;
				var two = document.getElementById("passwd2").value;
				if (!one) {alert("Password field can not be empty!"); return false; }
				if(one == two) {
					alert("ok");
					document.getElementById("submit-password-change").click();
					return true;
				}
				alert("Passwords must match!");
				return false;
			}
		</script>
		
		<input onclick="changePassword()" type="button" class="my-button my-save-button"  value="Save">
		<input type="submit"  id="submit-password-change">


		</form>

		
	</div>
</div>