<div class="card content-card bg-dark text-light">
	<div class="card-body">
		<h1 class="card-title">Change password</h1>
		<form style="margin-bottom: 15px; line-height: 2;">

			<input type="hidden" name="username" value="{{username}}">
			<div class="form-group row">
				<label class="col-form-label col-form-label-lg col-lg-3" for="old-password">Old password</label>
				<div class="col-lg-4">
					<input id="old-password" class="form-control form-control-lg" type="password" name="old_password"> 
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-form-label-lg col-lg-3" for="passwd1">New password</label>
				<div class="col-lg-4">
					<input class="form-control form-control-lg" type="password" id="passwd1" name="new_password">
					<small class="form-text">Between 6 and 12 characters</small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-form-label-lg col-lg-3" for="passwd2">New password again</label>
				<div class="col-lg-4">
					<input class="form-control form-control-lg" type="password" id="passwd2" name="new_password_conf">
				</div>
			</div>
			
			</br>
			<div class="form-group row">
				<div class="col-12 col-lg-3">
					<button class="btn btn-secondary btn-block btn-lg" type="button" id="submit-password-change">Save</button>
				</div>
			</div>

		</form>
	</div>
</div>