<div class="w3-row my-panel">
	<div class=" w3-container">
		<h1 class="w3-text-teal">Password change</h1>
		<form style="margin-bottom: 15px; line-height: 2;">
			
			<input type="hidden" name="username" value="{{username}}">
			Old password: <br>
			<input type="password" name="old_password"><br>
			New password: <br>
			<input type="password" id="passwd1" name="new_password"> <br>New password again:<br>
			<input type="password" id="passwd2" name="new_password_conf"> <br><br>

			<button type="button" id="submit-password-change" >Submit</button>


		</form>

		
	</div>
</div>