<script type=text/javascript src="config.js">
</script>
<div class="w3-row my-panel">
	<div class=" w3-container">
		<h1 class="w3-text-teal">Face recognition settings</h1>

		<form id="face-recognition-settings" action="/face_recognition_settings" method="post" >
			{% for setting in camera_settings %}
			<input type="radio" class="setting-select" name="selected-setting-static" id="setting-{{loop.index}}" value="{{setting["setting-name"]}}" {% if setting["setting-name"] == frec["selected-setting"] %} checked {% endif %} >{{setting["setting-name"]}}<br>
			<fieldset class="setting-fieldset" id="setting-{{loop.index}}-fieldset" {% if not setting["setting-name"] == frec["selected-setting"] %} hidden disabled {% endif %}>
				<label for="setting-name-{{loop.index}}"></label>
				<input type="text" name="setting-name" id="setting-name-{{loop.index}}" required value="{{setting["setting-name"]}}">
				</br>
				
				<label for="preferred-id-{{loop.index}}">Preferred camera</label>
				<select name="preferred-id-int" id="preferred-id-{{loop.index}}">
					{% set loop_length = setting["preferred-id"] + 1 %}
					{% else %}
					{% set loop_length = available_cameras %}
					{% endif %}
					{% for i in range(loop_length) %}
					<option value="{{i}}" {% if setting["preferred-id"] == i %} selected {% endif %}>Camera {{i}}</option>
					{% endfor %}
					<option value="ipcamera" {% if setting["preferred-id"] == -1 %} selected {% endif %}>IP Camera</option>
				</select>
				</br>
	
				
				<label for="flip-camera-switch-{{loop.index}}">Rotate 180°</label>
				<label for="flip-camera-{{loop.index}}" id="flip-camera-switch-{{loop.index}}" class="switch">
					<input type="checkbox" id="flip-camera-{{loop.index}}-surrogate" name="flip-cam" value="off" {% if not setting["flip-cam"] == True %} checked {% endif %} hidden>
					<input type="checkbox" id="flip-camera-{{loop.index}}" name="flip-cam" class="has-surrogate" {% if setting["flip-cam"] == True %} checked {% endif %}>
					<span class="slider round"></span>
				</label>
				</br>
				
				<label for="resolution-{{loop.index}}">Resolution</label>
				<select id="resolution-{{loop.index}}" type="select" name="resolution">
					<option value="qvga" {% if setting["resolution"] == "qvga" %} selected {% endif  %}>qvga - 320x240 (recommended)</option>
					<option value="fhd"  {% if setting["resolution"] == "fhd" %} selected {% endif   %}>fhd - 1920x1080</option>
					<option value="hd"   {% if setting["resolution"] == "hd" %} selected {% endif    %}>hd - 1280x720</option>
					<option value="vga"  {% if setting["resolution"] == "vga" %} selected {% endif   %}>vga - 640x480</option>
					<option value="qqvga"{% if setting["resolution"] == "qqvga" %} selected {% endif %}>qqvga - 160x120</option>
				</select>
				</br>
	
				<label for="url-{{loop.index}}">URL:</label>
				<input type="url" id="url-{{loop.index}}" name="URL" size="30" value={{setting["URL"]}}>
				</br>
			</fieldset>
			{% endfor %}

			Face recognition tolerance (lower is more strict) (0.4 - 0.8, recommended: 0.6):<br>
			&nbsp;&nbsp;&nbsp;
			<input type="number" name="dnn-tresh-float-static" min="0.4" max="0.8" step="0.05" value="{{frec['dnn-tresh'] }}" required><br>

			Number of fast scans between slow scans with Neural Network (1-10 000):<br>
			&nbsp;&nbsp;&nbsp; 
			<input type="number" name="dnn-scan-freq-int-static" min="1" max="10000" step="1" value="{{frec['dnn-scan-freq'] }}" required><br>

			Force DNN scan on faces just appeared: <br>
			&nbsp;&nbsp;&nbsp;
			<label for="force-dnn" class="switch">
				<input type="checkbox" id="force-dnn-surrogate" name="force-dnn-on-new-static" value="off" {% if not frec['force-dnn-on-new'] == True %} checked {% endif %} hidden>
				<input type="checkbox" class="has-surrogate" id="force-dnn" name="force-dnn-on-new-static" {% if frec['force-dnn-on-new'] == True %} checked {% endif %}>
				<span class="slider round"></span>
			</label><br>

			<!--Limit FPS:<br>-->
			<!--&nbsp;&nbsp;&nbsp;-->
			<!--<input type="number" name="quantity" min="0.1" max="60" step="0.1" value="60"><br>-->

			Cache unknown faces: <br>
			&nbsp;&nbsp;&nbsp; <label for="cache-unknown" class="switch">
			<input type="checkbox" id="cache-unknown-surrogate" name="cache-unknown-static" value="off" {% if not frec['cache-unknown'] == True %} checked {% endif %} hidden>
			<input type="checkbox" class="has-surrogate" id="cache-unknown" name="cache-unknown-static"  {% if frec['cache-unknown'] == True %} checked {% endif %}>
			<span class="slider round"></span>
			</label>

			<br><br>
			<input type="submit" class="my-button my-save-button" value="Save">


		</form>


	</div>

</div>