<script type=text/javascript src="config.js">
</script>
<div class="w3-row my-panel">
	<div class=" w3-container">
		<h1 class="w3-text-teal">Face recognition settings</h1>

		<form id="face-recognition-settings" action="/face_recognition_settings" method="post" style="margin-bottom: 15px; line-height: 2;">
			{%for webcam in cam_dict["webcams"]%}
				{% set curid = webcam["id"] %}
				<input type="radio" class="camera-select" name="camera" id="webcam{{curid}}" value="Webcam{{curid}}" > Webcam {{curid}}<br>
				<fieldset class="camera-fieldset" id="webcam{{curid}}-fieldset" hidden>
						Resolution: <br>&nbsp;&nbsp;&nbsp;
					<select type="select" name="resolution">
						<option value="qvga" {% if frec['resolution'] == "qvga" %} selected {% endif  %}>qvga - 320x240 (recommended)</option>
						<option value="fhd"  {% if frec['resolution'] == "fhd" %} selected {% endif   %}>fhd - 1920x1080</option>
						<option value="hd"   {% if frec['resolution'] == "hd" %} selected {% endif    %}>hd - 1280x720</option>
						<option value="vga"  {% if frec['resolution'] == "vga" %} selected {% endif   %}>vga - 640x480</option>
						<option value="qqvga"{% if frec['resolution'] == "qqvga" %} selected {% endif %}>qqvga - 160x120</option>
					</select><br>
					Rotate 180°: <br>
					&nbsp;&nbsp;&nbsp; <label for="flip-cam{{curid}}" class="switch">
						<input type="checkbox"  id="flip-cam{{curid}}" name="flip_cam" {% if frec['flip_cam' + curid|string] == "on" %} checked {% endif %}>
						<span class="slider round"></span>
					</label><br>
				</fieldset>
			{%endfor%}

			<input type="radio" class="camera-select" name="camera" id="ipcamera" value="ipcamera" > IP Webcam<br>
			<fieldset class="camera-fieldset" id="ipcamera-fieldset" hidden>
			<label>URL:</label> <input type="url" id="url" name="URL"><br>
				Rotate 180°: <br>
				 <label for="flip-ipcamera" class="switch">
					<input type="checkbox"  id="flip-ipcamera" name="flip_ipcamera" {% if frec['flip_ipcamera'] == "on" %} checked {% endif %}>
					<span class="slider round"></span>
				</label><br>
			</fieldset>

			{% if cam_dict["pi_camera"] %}
			<input type="radio" class="camera-select" name="camera" id="picamera" value="picamera"> Pi Camera<br>
			<fieldset class="camera-fieldset" id="picamera-fieldset" hidden>
			Rotate 180°: <br>
				 <label for="flip-picamera" class="switch">
					<input type="checkbox"  id="flip-picamera" name="flip-picamera" {% if frec['flip-picamera'] == "on" %} checked {% endif %}>
					<span class="slider round"></span>
				</label><br>
			</fieldset>
			{%endif%}


			Face recognition tolerance (lower is more strict) (0.4 - 0.8, recommended: 0.6):<br>
			&nbsp;&nbsp;&nbsp;
			<input type="number" name="dnn_tresh" min="0.4" max="0.8" step="0.05" value="{{frec['dnn_tresh'] }}"><br>

			Number of fast scans between slow scans with Neural Network (1-10 000):<br>
			&nbsp;&nbsp;&nbsp; 
			<input type="number" name="dnn_scan_freq" min="1" max="10000" value="{{frec['dnn_scan_freq'] }}"><br>

			Force DNN scan on faces just appeared: <br>
			&nbsp;&nbsp;&nbsp;
			<label for="force-dnn" class="switch">
				<input type="checkbox"  id="force-dnn" name="force_dnn_on_new" {% if frec['force_dnn_on_new'] == "on" %} checked {% endif %}>
				<span class="slider round"></span>
			</label><br>

			<!--Limit FPS:<br>-->
			<!--&nbsp;&nbsp;&nbsp;-->
			<!--<input type="number" name="quantity" min="0.1" max="60" step="0.1" value="60"><br>-->

			Cache unknown faces: <br>
			&nbsp;&nbsp;&nbsp; <label for="cache-unknown" class="switch">
			<input type="checkbox"  id="cache-unknown" name="cache_unknown"  {% if frec['cache_unknown'] == "on" %} checked {% endif %}>
			<span class="slider round"></span>
			</label>

			<br><br>
			<input type="submit" class="my-button my-save-button" value="Save">


		</form>


	</div>

</div>