<div class="w3-row my-panel">
	<div class=" w3-container">
		<h1 class="w3-text-teal">Notification settings</h1>
		<form action="/notification_settings" method="post" style="margin-bottom: 15px; line-height: 2;">

			<table class="notification-table">
				<tr><th><h2>Email</h2></th><th><h2>MQTT</h2></th></tr>
				<tr>
					<td>

						<span style="position: relative; top: -55px;">

							Notification email address: <br>&nbsp;&nbsp;&nbsp;
							<input type="text" name="email" value="{{ notif['email'] }}"><br>

							Notify about unknown faces:  <br>
							&nbsp;&nbsp;&nbsp;
							<label for="e-notif-unk" class="switch">
								<input type="checkbox" class="has-surrogate" id="e-notif-unk-surrogate" name="e-notif-unk" value="off" {% if notif['e-notif-unk'] == "on" %} checked {% endif %} hidden>
								<input type="checkbox" id="e-notif-unk" name="e-notif-unk" {% if notif['e-notif-unk'] == "on" %} checked {% endif %}>
								<span class="slider round"></span>
							</label><br>

							Notify about known faces:  <br>
							&nbsp;&nbsp;&nbsp;
							<label for="e-notif-kno" class="switch">
								<input type="checkbox" class="has-surrogate" value="off" id="e-notif-kno-surrogate" name="e-notif-kno" {% if notif['e-notif-kno'] == "on" %} checked {% endif %} hidden>
								<input type="checkbox"  id="e-notif-kno" name="e-notif-kno" {% if notif['e-notif-kno'] == "on" %} checked {% endif %}>
								<span class="slider round"></span>
							</label><br>

							Notify about special faces: <br>
							&nbsp;&nbsp;&nbsp;
							<label for="e-notif-spec" class="switch">
								<input type="checkbox" class="has-surrogate" value="off" id="e-notif-spec-surrogate" name="e-notif-spec" {% if notif['e-notif-spec'] == "on" %} checked {% endif %} hidden>
								<input type="checkbox" id="e-notif-spec" name="e-notif-spec" {% if notif['e-notif-spec'] == "on" %} checked {% endif %}>
								<span class="slider round"></span>
							</label>
						</span>
					</td>
					<td>

						Broker URL:<br>&nbsp;&nbsp;&nbsp;
						<input type="text" name="broker_url" value="{{ notif['broker_url'] }}"><br>

						Port: <br>&nbsp;&nbsp;&nbsp;
						<input type="text" name="port" value="{{ notif['port'] }}"><br>

						Topic: <br>&nbsp;&nbsp;&nbsp;
						<input type="text" name="topic" value="{{ notif['topic'] }}"><br>

						Notify about unknown faces:  <br>
						&nbsp;&nbsp;&nbsp;
						<label for="m-notif-unk" class="switch">
							<input type="checkbox" class="has-surrogate" value="off" id="m-notif-unk-surrogate" name="m-notif-unk" {% if notif['m-notif-unk'] == "on" %} checked {% endif %} hidden>
							<input type="checkbox" id="m-notif-unk" name="m-notif-unk" {% if notif['m-notif-unk'] == "on" %} checked {% endif %}>
							<span class="slider round"></span>
						</label><br>

						Notify about known faces:  <br>
						&nbsp;&nbsp;&nbsp;
						<label for="m-notif-kno" class="switch">
							<input type="checkbox" class="has-surrogate" value="off" id="m-notif-kno-surrogate" name="m-notif-kno" {% if notif['m-notif-kno'] == "on" %} checked {% endif %} hidden>
							<input type="checkbox" id="m-notif-kno" name="m-notif-kno" {% if notif['m-notif-kno'] == "on" %} checked {% endif %}>
							<span class="slider round"></span>
						</label><br>

						Notify about special faces: <br>
						&nbsp;&nbsp;&nbsp;
						<label for="m-notif-spec" class="switch">
							<input type="checkbox" class="has-surrogate" value="off" id="m-notif-spec-surrogate" name="m-notif-spec" {% if notif['m-notif-spec'] == "on" %} checked {% endif %} hidden>
							<input type="checkbox" id="m-notif-spec" name="m-notif-spec" {% if notif['m-notif-spec'] == "on" %} checked {% endif %}>
							<span class="slider round"></span>
						</label>
					</td>
				</tr>
			</table>
			<br>
		<input type="submit" class="my-button my-save-button"  value="Save">


		</form>

		
	</div>
</div>