{% extends "basic.html" %}

{%block nav_liveview_active%}active{%endblock nav_liveview_active%}

{%block content%}


<!-- RECENT -->
  <div class="card content-card text-light bg-dark">
	  <div class="preview">
		  {% if running %}
	  		<img class="card-img-top" src="/preview">
	  	  {% endif %}
	  </div>
    <div class="card-body">
		<h1 class="card-title">Current state</h1>
		<p>Camera is
			{% if running %}
			  <b class="camera-status" style='color:lightgreen;'>RUNNING</b>
			{% else %}
			  <b class="camera-status" style='color:red;'>NOT RUNNING</b>
			{% endif %}
		</p>
		<p>Recently recognized person/people:<br>{% if names|length > 0 %}{{names}}{% else %}None{% endif %}</p>
		<p>Last start time:<br>{{runsince}}</p>
    </div>
  </div>


<!-- LOG -->
  <div class="card content-card text-light bg-dark">
    <div class="card-body">
      <h1 class="card-title">Log</h1>
		<div class="log-div scrollable" >
			<span>
			{% for l in log %}
			{{"%02d"|format(loop.index)}}: {{l.datetime}}: {{l.event}}<br>
			{% endfor %}
			</span>
		</div>
	</div>
  </div>

{% if running %}
<script type="text/javascript">
	preview_interval = setInterval(function(){
		d = new Date();
		$(".card-img-top").attr("src", "/preview?"+d.getTime());
	}, 1000);
</script>
{% endif %}

{%endblock content%}