{% extends "basic.html" %}

{%block main_content%}

<!-- STATUS -->
  <div class="w3-row my-panel">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Current State</h1>
      <p>Camera is:<br>
	  {% if running %}
		<b style='color:lightgreen; font-size:24px;'>Running</b>
	  {% else %}
		<b style='color:red; font-size:24px;'>Not running</b>
	  {% endif %}
	  </p>
	  <p>Last start time:<br>{{runsince}}</p>
    </div>
  </div>


<!-- RECENT -->
  <div class="w3-row my-panel">
    <div class=" w3-container">
	  <div class="preview-img-div">
		<img id="preview_img" src="/preview" ;}>
	  </div>
      <h1 class="w3-text-teal">Live View</h1>

	  <p>Recently recognized person/people:<br>{{names}}</p>
    </div>
  </div>


<!-- LOG -->
  <div class="w3-row my-panel">
    <div class=" w3-container">
      <h1 class="w3-text-teal">Log</h1>
		<div class="log-div" >
			<p>
			{% for l in log %}
			{{l.datetime}}: {{l.event}}<br>
			{% endfor %}
			</p>
		</div>
	</div>
  </div>

{% if running %}
<script type="text/javascript">
	setInterval(function(){
		d = new Date();
		$("#preview_img").attr("src", "/preview?"+d.getTime());
	}, 1000);
	
	</script>
{% endif %}

{%endblock main_content%}