{% extends "basic.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/person_edit.css') }}">
{% endblock extra_styles %}

{% block script %}
    <script type=text/javascript src="{{ url_for('static', filename='js/person_picture_edit.js') }}"></script>
{% endblock script %}


{%block content%}

    {% include 'person_edit_main_panel.html' %}

    {% include 'person_edit_picture_panel.html' %}

    {% include 'person_edit_dialogs.html' %}

{%endblock content%}