<div class="card content-card text-light bg-dark">

    <div class="card-body">
        <h1 class="card-title">Clustered unknowns</h1>

        {% if unk_persons|length < 1 %}
        <p>Faces that could not be associated with a person in the database will appear here.</p>
        {% endif %}
        {% for person in unk_persons %}
        <div class="unknown-person-wrapper row bg-dark text-light border border-secondary m-2 rounded justify-content-center ">
            <div class="col-11 col-md-10 col-lg-8">
                <div class="row justify-content-center align-items-center">
                    <div class="col-10 col-md-4 p-3">
                        <img class="w-100 rounded" src="Static/Images/{{ person.thumbnail.name }}"
                            onerror="if (this.src != 'empty_pic.png') this.src = 'empty_pic.png';">
                        {% if person.images|length > 1 %}
                        <div class="w-100 text-center">
                            <span class="tooltip">
                                <span class="tooltiptext">
                                    <div class="d-flex flex-wrap p-2 rounded tooltip-image-wrapper">
                                        {% for i in person.images %}
                                            {% if i.name != person.thumbnail.name %}
                                                <div class="col-3 tooltip-image rounded">
                                                    <img class="w-100 " src="Static/Images/{{ i.name }}">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </span>
                                + {{(person.images|length) - 1}} more pictures...
                            </span>
                        </div>{% endif %}
                    </div>
                    <div class="table-separated col-12 col-md-8 text-light">
                        <div class="row">
                            <span class="d-inline col">
                                Name
                            </span>
                            <span class="d-inline col">
                                {{person.name}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column">
                <div class="row my-auto justify-content-center align-items-center">
                    <button class="col col-lg-8 person-btn btn btn-secondary add-merge-btn">
                        Add / Merge
                        <span class="d-none">{{ person.name }}</span>
                    </button><br>
                    <button class="col col-lg-8 person-btn btn btn-danger remove-person-button person-btn-unk">
                        Remove
                        <span class="remove-arg d-none">{{ person.name }}</span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>