 <div id="remove-confirmation"  title="Remove person">
    <div>
        <span class="ui-icon ui-icon-alert" ></span>
        The person (<b><span id="remove-dialog-text"></span> </b>) and the associated data will be permanently deleted. Are you sure?
    </div>
</div>


<div id="add-or-merge-dialog" >
    <span id="selected-add-or-merge-name" ></span>
    <span id="selected-add-or-merge-folder" ></span>
    <span id="add-or-merge-inside">
        <div id="current-owner" ></div>
        <div id="moving-pic-name" ></div>
        Choose a person to merge with: <br>
        <select id="merge-options" >
            {% for person in persons %}
                <option value="{{ person.name }}">{{ person.name }}</option>
            {% endfor %}
            {% for person in unk_persons %}
                <option value="{{ person.name }}">{{ person.name }}</option>
            {% endfor %}
        </select>
        <button id="merge-btn" class="tbutton" >
            Merge
        </button>
        <br/>
        <br/>
        <button id="add-btn" class="my-button" >
            Add as new person
        </button>
        <button id="cancel-add-small" class="cancel-add-or-merge my-button" >
            Cancel
        </button>
    </span>
    <button id="cancel-add-bg" class="cancel-add-or-merge" >
    </button>
</div>