<div id="add-or-merge-dialog" class="dialog-overlay row justify-content-center align-items-center">
    <div class="card dialog-card col-10 col-md-8 col-lg-6 bg-dark text-light">
        
        <span id="selected-add-or-merge-name" class="d-none"></span>
        <span id="selected-add-or-merge-folder" class="d-none"></span>
        <div class="card-body">
            <h1 class="card-title">
                Add or merge unknown
            </h1>

            <div class="row justify-content-center">
                <div class="col-12 col-md-10 row justify-content-center border-bottom border-secondary">
                    <button id="add-btn" class="col-8 btn btn-block btn-success m-3 font-size-14" >
                        Add as new person
                    </button>
                </div>

                {% if (persons|length + unk_persons|length) > 1 %}
                <div class="col-12 col-md-10 pt-4 justify-content-center row border-bottom border-secondary">
                    <div id="current-owner" class="d-none"></div>
                    <div id="moving-pic-name" class="d-none"></div>
                    
                    <span class="pr-2 font-size-14">Choose a person to merge with:</span>
                    <select id="merge-options-copy" class="d-none form-control col-12 col-md-8 col-lg-4 font-size-14" >
                        {% for person in persons %}
                            <option value="{{ person.name }}">{{ person.name }}</option>
                        {% endfor %}
                        {% for person in unk_persons %}
                            <option value="{{ person.name }}">{{ person.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <button id="merge-btn" class="col-8 btn btn-block btn-warning m-3 font-size-14">
                        Merge
                    </button>
                </div>
                {% endif %}
                
                <div class="col-12 col-md-10 row justify-content-center">
                    <button id="cancel-add-small" class="col-8 btn btn-block btn-secondary m-3 font-size-14" >
                        Cancel
                    </button>
                </div>
        
                <button id="cancel-add-bg" class="cancel-add-or-merge d-none" >
                </button>
            </div>
        </div>
    </div>
</div>