<div id="confirmation">

    <div id="dialog-title">Remove picture</div>

    <div>
        Are you sure?
        <br>
        This action cannot be undone.
    </div>
    Removing:
    <div id="removing-pic-name">
        asdasd
    </div>
    <button id="remove-pic-btn" class="my-button">
        Remove
    </button>
    <button id="cancel-small" class="cancel-pic-delete my-button">
        Cancel
    </button> 
    <button id="cancel-bg" class="cancel-pic-delete"></button>
</div>

<div id="choose-new-owner">
    <div id="current-owner"></div>
    <div id="moving-pic-name"></div>
    Choose who is on the picture: <br>
    <select id="possible-persons">
        {% for known_person in known_persons %}
            {% if known_person.name != person.name %}
            <option value="{{known_person.name}}">{{ known_person.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button id="change-person-btn" class="my-button">
        Change
    </button>
    <button id="cancel-person-change-small" class="cancel-person-change my-button">
        Cancel
    </button>
    <button id="cancel-person-change-bg" class="cancel-person-change">
    </button>
</div>