<div class="w3-row my-panel">

    <div class=" w3-container">

        <h1 class="w3-text-teal">Known people</h1>

            <table id="known_persons">
                <tr>
                    <th class="person-table-header">Picture</th>
                    <th>Name</th>
                    <th class="person-table-header">Information</th>
                    <th class="person-table-header">Actions</th>
                </tr>
                {% for person in persons %}
                    <tr class="w3-hover-black">
                        <td><img src="Static/Images/{{ person.thumbnail.name }}"
                                    onerror="if (this.src != 'empty_pic.png') this.src = 'empty_pic.png';">
                        </td>
                        <td class="font-size-20" id="name_{{ loop.index0 }}">{{ person.name }}</td>
                        <td><pre class="word-wrap">{{ person.preference }}</pre></td>
                        <td>
                            <input type="button" class="text-center my-button my-edit-button" id="edit_{{ loop.index0 }}"
                                    onclick="location.href='{{ url_for('person_edit.edit_known_person') }}?name={{ person.name }}' "
                                    value="Edit" /><br>
                            <button class="my-button my-remove-button remove-person-btn" id="remove_{{ loop.index0 }}">
                                Remove
                                <span class="remove-arg">{{ person.name }}</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
    </div>
</div>