<div class="w3-row my-panel">

            <div class=" w3-container">

                <h1 class="w3-text-teal">Clustered unknowns</h1>

                    <table id="unknown_persons">
                        <tr>
                            <th class="person-table-header">Pictures</th>
                            <th class="person-table-header">Number of<br>pictures</th>
                            <th>Name (first appearance)</th>
                            <th class="person-table-header">Actions</th>
                        </tr>
                        {% for person in unk_persons %}
                        <tr class="w3-hover-black person-name" id="{{ person.name }}">
                            <td >
                                <span class="tooltip">
                                    <span class="tooltiptext">
                                        {% for i in person.images %}
                                            <img src="Static/Images/{{ i.name }}" >
                                        {% endfor %}
                                    </span>
                                    <img src="Static/Images/{{ person.thumbnail.name }}"
                                         onerror="if (this.src != 'empty_pic.png') this.src = 'empty_pic.png';"
                                    >
                                </span>
                            </td>
                            <td class="font-size-20 text-center" >
                                {{ person.images|length }}
                            </td>
                            <td>
                                {{ person.name }}
                            </td>
                            <td>
                                <button class="my-button my-add-button">
                                    Add / Merge
                                    <span class="add-arg">{{ person.name }}</span>
                                </button><br>
                                <button class="my-button my-remove-button remove-person-btn">
                                    Remove
                                    <span class="remove-arg">{{ person.name }}</span>
                                </button>
                            </td>


                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>