<div class="w3-row my-panel">
    <div class=" w3-container">
        <h1 class="w3-text-teal">Pictures</h1>
        <div>
            IMPORTANT: <br>Adding or removing a picture will not take effect on the face-recognition instantly. Please consider the "Retrain" option on the left side to update the algorithm. It can take several minutes, during that time the services will not work.
        </div>
        <div>
            {% for img in person.images %}
                <div class="outer-face" id="outer-face-{{ loop.index0 }}">

                    <img src="{{url_for('static', filename='Images/' + img.name)}}">

                    <div id="inner-face-{{ loop.index0 }}" class="inner-face">
                        <input class="img-name-value" type="hidden" value="{{img.name}}">
                        <button type="button" class="pic-btn make-thumb">
                            Make Thumbnail</button>
                        <button type="button" class="pic-btn change-pers">
                            Change Person</button>
                        <button type="button" class="pic-btn remove-pic">
                            Remove</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>