<div class="w3-row my-panel">
    <span id="person-name" style="display: none" hint="Name">{{ name }}</span>
    <div class=" w3-container">
        <h1 class="w3-text-teal">Basic info</h1>
        <form action="{{ url_for('person_edit.modify_person') }}" method="post" id="basic-info-form">
        <div style="margin-bottom: 15px; line-height: 3;">
            <div style="float:right;width:30%">

                <img id="thumbnail-pic" src="{{ url_for('static', filename='dnn_data/'+name+'/'+thumbnail) }}"
                    style="max-width: 300px; max-height: 300px;padding-bottom:25px;"
                    onerror="if (this.src != 'empty_pic.png') this.src = '{{ url_for('static', filename='empty_pic.png') }}';"
                >
                <br>
                <input type="submit" class="my-button my-save-button" value="Save" style="padding-bottom: 70px;float: right;margin-right:50px;">
            </div>


                Name:<br>
                <input id="owner-name" type="text" name="new_name" value="{{ name }}" style="font-size: 20px;height: 35px; padding: 5px;">
                <br>
                Extra:<br>
                <textarea form="basic-info-form" name="extra" style=" line-height: 1; overflow-y: scroll; height:auto;min-height: 150px; max-height: 500px;width:65%;">{{extra}}</textarea>
                <input type="hidden" name="old_name" value="{{ name }}" style="height: 30px;">


            </form>
        </div>

    </div>
</div>