<div class="card content-card bg-dark text-light">

    <div class="card-body">

        <h1 class="card-title">Known people</h1>

        {% for person in persons %}
        <div class="known-person-wrapper row bg-dark text-light border border-secondary m-2 rounded justify-content-center ">
            <div class="col-11 col-md-10 col-lg-8">
                <div class="row justify-content-center align-items-center">
                    <div class="col-10 col-md-4 p-3">
                        <img class="w-100 rounded" src="Static/Images/{{ person.thumbnail.name }}"
                            onerror="if (this.src != 'empty_pic.png') this.src = 'empty_pic.png';">
                    </div>
                    <div class="table-separated col-12 col-md-8 text-light">
                        <div class="row">
                            <span class="d-inline col">
                                Name
                            </span>
                            <span class="d-inline col">
                                {{person.name}}
                            </span>
                        </div>
                        <div class="row">
                            <span class="d-inline col">
                                Preference
                            </span>
                            <span class="d-inline col">
                                {{person.preference}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column">
                <div class="row my-auto justify-content-center align-items-center">
                    <button class="col col-lg-8 person-btn btn btn-secondary"
                        id="edit_{{ loop.index0 }}"
                        onclick="location.href='{{ url_for('person_edit.edit_known_person') }}?name={{ person.name }}' ">
                        Edit
                    </button>
                    <button class="col col-lg-8 person-btn btn btn-danger remove-person-button"
                        id="remove_{{ loop.index0 }}">
                        Remove
                        <span class="remove-arg d-none">{{ person.name }}</span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>